.about {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.about div {
    padding: 10px;
}   

.about div h2 {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: fit-content;
    color: #225ead;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.hoverWrapper {
    text-align: center;
}

.hoverWrapper > h2 {
    transition: transform 0.4s ease;  
}

.hoverWrapper h2:hover {
  transform: scale(1.1);
}


.about div h3 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 20px;
}

.about div p {
    font-size: 1.1em;
}



@media (min-width: 280px) and (max-width: 479.98px) {
  
    .about {
        margin-top: 50px;
        grid-gap: 0px;
    }
    

    .about div {
        padding: 5px;
    } 


    .about div h2 {
        color: #225ead;
        font-size: 12px;
    }
  
    .about div p {
        font-size: x-small;
    }


  }