.portfolio_blogs {
    text-align: center;
}

.portfolio_blogs > h2 {
    font-size: 2.2em;
    margin-top: 20px;
}

.portfolio_blogs > h4 {
    font-size: 1.5em;
    font-weight: 100;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;             /* 3 columns in a row vaneko */
    grid-gap: 30px;
    margin: 50px 20px;
}

.blogs h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
}

.blogs p {
    color: #ccc;
    margin-top: 2px;
}




@media (min-width: 280px) and (max-width: 479.98px) {


}