.details h2 {
  color: #225ead;
  font-size: 2em;
  margin-top: 32px;
}

.details h3 {
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 16px;
}

.details h4 {
  color: #225ead;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 22px;
}


.backButton {
  text-decoration: none;
  color: #1c1d1f;
  font-weight: bolder;
  background-color: #ffffff;
  padding: 0.1rem 0.1rem;
  border-radius: 7px;
  border: 4px solid #1c1d1f;
  transition: all 0.2s ease-in-out;
}

.backButton:hover {
  color: #0657c0;
  border: 2px solid #0657c0;
  background-color: #ffffff;
  transform: translateX(-2px);
}


.html {
  margin-top: 10px;
}

.featured {
  margin-bottom: 50px;
}


/* Inline code style */
.html code {
  font-family: 'Fira Code', monospace;
  background-color: rgba(255, 255, 255, 0.15);
  /* subtle highlight on purple */
  color: #000;
  /* white text */
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.html pre {
  background-color: rgba(0, 0, 0, 0.2);
  /* dark semi-transparent for purple bg */
  color: #222020;
  /* white text */
  padding: 1rem;
  overflow-x: auto;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  margin: 1.5rem 0;
}


/* Tables from markdown blog files */
.html table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 1rem;
  text-align: center;
  color: #161616;
  /* white text for table content */
}

.html th,
.html td {
  border: 1px solid rgba(34, 32, 32, 0.3);
  /* subtle white border */
  padding: 0.75rem 1rem;
  font-size: 18px;
}

.html th {
  background-color: #f4f4f4;
  /* subtle white highlight */
  font-weight: bold;
}

.html tr:nth-child(even) {
  background-color: #f4f4f4;
  /* light transparent row */
}

.html tr:hover {
  background-color: #e2dcdc;
  /* highlight on hover */
}

.html caption {
  caption-side: bottom;
  text-align: right;
  font-size: 0.9rem;
  color: #111010;
  /* subtle light color for caption */
}


p {
  font-size: 18px;
  margin: 16px auto;
  line-height: 1.5em;
}

/* Responsive tables */
@media (max-width: 768px) {
  .html table {
    display: block;
    overflow-x: auto;
  }
}