@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, rgb(70, 10, 116) 0%, rgb(146, 34, 127) 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: 500px;
}

.header {
  padding: 18px 1px;
  display: flex;
  align-items: center;          
  max-width: 1200px;
  margin: 25px auto;               
  border-bottom: 5px solid;
  border-color: #ff007f;
}

.navbar__brand {
  display: flex;
  align-items: flex-start;
  height: 2rem;
}

.navbar__logo {
  height: 100%;
  margin-right: 1.2rem;
}



nav .links {
  display: flex;
  margin-left: auto;
  text-align: right;
  font-size: 1.2em;
}



nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav .links a:hover {
  border-color: #f1356d;
}

footer {
  display: flex;
  align-items: center;  
  text-align: center;        
  max-width: 1200px;
  margin-top: 70px;  
  font-size: 20px;
  background: radial-gradient(at top left, rgb(80, 23, 124) 0%, rgb(111, 24, 114) 100%);
  background-repeat: no-repeat;
}



