.header {
    display: grid;
    /* grid-template-columns: auto 1fr;              */
    grid-template-columns: 3fr 2fr;
    /* grid-gap: 30px; */
    align-items: center;
    column-gap: 30px;
}

.header h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}


.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* left-aligned (default), or use center if you want centered) */
}

.btn {
    display: inline-block;   /* keeps width just around content */
    background: #e2157b;
    margin-top: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    font-size: x-large;
    text-align: center;      /* optional: centers text inside button */
    width: auto;             /* important: do NOT stretch full width */
}


.btn:hover {
    background-color: rgb(172, 48, 155);
}


.typing-fixed {
  display: inline-block;
  color: #fff;
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  min-width: 19ch; /* longest role length */
}


/* Vertical social icons on left side of image */
.socialVertical {
  position: absolute;
  left: -50px; /* distance from left of image */
  bottom: 0;   /* near bottom of image */
  display: flex;
  flex-direction: column;
  gap: 15px;   /* spacing between icons */
}