.header {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    /* grid-gap: 30px; */
    align-items: center;
}
.header h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #e2157b;
    margin-top: 20px;
    padding: 6px 22px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: x-large;
    /* font-weight: 500; */
}

.btn:hover {
    background-color: rgb(172, 48, 155);
}


