.header {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    column-gap: 30px;
    align-items: start;
}

.header h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightColumn {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.btn {
    display: inline-block;
    background: #e2157b;
    margin-top: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    font-size: x-large;
}

.btn:hover {
    background-color: rgb(172, 48, 155);
}

/* Typing animation effect */
.typingFixed {
    display: inline-block;
    color: #fff;
    /* border-right: 0px solid #fff; */
    white-space: nowrap;
    overflow: hidden;
    min-width: 17ch;
}

/* Vertical social icons on left side of image */
.socialVertical {
    position: absolute;
    left: -50px; /* distance from left of image */
    bottom: 0;   /* near bottom of image */
    display: flex;
    flex-direction: column;
    gap: 15px;   /* spacing between icons */
}
