.details h2 {
    font-size: 2em;
    margin-top: 40px;
  }

.details h3 {
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 34px;
}



.html {
  margin-top: 10px;
}

.featured {
  margin-bottom: 60px;
}
  
