.container {
    margin-top: 44px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;              */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;  
    grid-gap: 24px;
}

.item {
    width: 5.9rem;
    height: 5.8rem;
    /* transition: width 0.3s, height 0.4s; */

    transition: transform .27s;
    margin: 0 auto;
}

/* .item:hover {
    width: 4.5rem;
    height: 5.5rem;
} */

.item:hover {
    transform: scale(1.65);
}


h4 {
    color: #225ead;
    font-size: 2.2em;
}



@media (min-width: 280px) and (max-width: 479.98px) {

    .container {

        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
    }

    
    .item {
        width: 2rem;
        height: 3rem;
    }

    .item:hover {
        transform: scale(1.6);
    }

    h4 {
        color: #225ead;
        font-size: 1.4em;
    }
}